# iCESugar Pin Assignments:
set_io clk_master 35

set_io flash_sclk 15
set_io _flash_ss 16
set_io flash_io0 17
set_io flash_io1 14
set_io flash_io2 12
set_io flash_io3 13

set_io spi_sclk 34
set_io spi_miso 31
set_io spi_mosi 27
set_io _spi_ss 25
