# TODO: REMOVE THE PYTEST STUFF ONCE THE MYHDL STUFF HAS BEEN REMOVED
**/__pycache__
**/.pytest_cache
**/.eggs
**/.venv
**/*.egg-info
bootloader/out/*

.bloop
.bsp
.metals
simWorkspace
target
tmp
verbose.log
